[submodule "examples/Pointcept"]
	path = examples/Pointcept
	url = git@code.alipay.com:yangyan.lyy/Pointcept.git
	branch = pointcnnpp-version
[submodule "examples/FCGF"]
	path = examples/FCGF
	url = git@code.alipay.com:yangyan.lyy/FCGF.git
	branch = pointcnnpp-version
