[submodule "examples/Pointcept"]
	path = examples/Pointcept
	url = https://github.com/Lihhan/Pointcept.git
	branch = pointcnnpp-version
[submodule "examples/FCGF"]
	path = examples/FCGF
	url = https://github.com/Lihhan/FCGF.git
	branch = pointcnnpp-version
